body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

main {
    min-height: 20em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.yatzy-board {
    font-size: 1.5rem;
}

.yatzy-board-table {
    border: 2px solid black;
    border-radius: 4px;
    font-family: monospace;
    font-size: 1.5rem;
    border-spacing: 0;
}

.yatzy-board-table tr:first-child td {
    padding-top: 10px;
}
.yatzy-board-table tr:last-child td {
    padding-bottom: 10px;
}

.yatzy-board-table td {
    padding: 4px 14px 0;
}
.yatzy-board-table td:nth-child(2) {
    min-width: 2rem;
}

.yatzy-board-table td:not(:last-child) {
    border-right: 2px solid black;
}

.yatzy-dice-set {
    display: flex;
}

.yatzy-dice-set__dice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yatzy-dice-set__dice pre {
    margin: 0;
    cursor: pointer;
    user-select: none;
}
